{% extends 'core/base.html' %} 

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="row text-center my-5">
        <div class="col-12">
            <h1>👋 Welcome to the Canteen Ordering System</h1>
            <p class="lead mb-3">View the current menu or select your role to proceed:</p>
            
            <a href="{% url 'menu_list' %}" class="btn btn-lg btn-success shadow mb-5">
                🗒️ View Full Menu
            </a>
        </div>

        <div class="row justify-content-center">
            
            <div class="col-md-3 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">Student Login</h5>
                        <a href="{% url 'student_login' %}" class="btn btn-primary">Login as Student</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">Faculty Login</h5>
                        <a href="{% url 'faculty_login' %}" class="btn btn-success">Login as Faculty</a>
                    </div>
                </div>
            </div>

            

            <div class="col-md-3 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">Employee Login</h5>
                        <a href="{% url 'employee_login' %}" class="btn btn-warning">Login as Employee</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        
            <div class="col-md-3 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">Canteen Manager Login</h5>
                        <a href="{% url 'canteen_manager_login' %}" class="btn btn-danger">Login as Manager</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}